.Body-home{
    margin: 20px;
}

.Icons-Box{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 20px;
}

hr{
    margin-top: 30px;
    margin-bottom: 30px;
}

.hover-text {
    position: absolute;
    bottom: -25px;   
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: grey;
    opacity: 0;    
    font-weight: bolder;  
}

.social-Link {
    position: relative;
}

.social-Link:hover .hover-text {
    opacity: 1;    
}